/* Style the header with a grey background and some padding */
header {
  background-color: lightgray;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__logo {
  width: 3.5rem;
  height: 2.5rem;
}

.header__avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 100%;
}

.header__title__container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.header__title__avatar {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.main-content__avatar {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 100%;
  border: 0.1rem solid black;
}

.main-content__container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 1rem;
}

.video-card {
  background-color: lightgray;
  width: 25rem;
  height: 7.5rem;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
}

.video-card__preview {
  width: 15rem;
  height: 7.5rem;
  float: left;
  margin: 0 0.5rem 0 0;
}

.section__wrapper {
  width: 26rem;
  height: 30rem;
  overflow-y: auto;
  margin-right: 4.5rem;
  border: 0.1rem solid black;
}

.main-content__container__info p {
  display: block;
  margin: 00.5rem 0 0.5rem 0.5rem;
  width: 7rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.main-content__container__info input {
  display: block;
  margin: 00.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content-section-container h1 {
  display: block;
}

.main-content {
  display: flex;
  align-items: baseline;
}

.main-content__videos__title {
  display: flex;
  justify-content: center;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 800px) {
  .video-card {
    width: 20rem;
    height: 7.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .video-card__preview {
    width: 10rem;
    height: 7.5rem;
  }

  .header__search__container button {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .main-content {
    float: none;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .section__wrapper {
    width: fit-content;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .video-card {
    width: 20rem;
    height: 7.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .video-card__preview {
    width: 10rem;
    height: 7.5rem;
  }

  .header__search__container button {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .main-content {
    float: none;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .section__wrapper {
    width: fit-content;
    margin: 0;
  }
}
